<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>The login details are</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    </head>

    <body>

        <div class="container">
            <a class="btn btn-primary mt-5" href="/" role="button">Logout</a>
            <h1 class="p-5 text-center mt-5">Thankyou for login!</h1>
            <p>
            <h6>Your profile details</h6>
            <label for="exampleInputEmail1" class="form-label">Email :<%= userinfo.email %> </label>
            </p>
            <label for="exampleInputPassword1" class="form-label">Password :<%= userinfo.password %> </label>
        </div>
    </body>

</html>